* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 50px auto;
  width: 360px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  line-height: 25px;
  background-color: #05223c;
  color: #f0f5fb;
  border-radius: 8px;
}
.Card-type-text {
  margin-top: 25px;
}
.card-type {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.right-arrow {
  width: 10px;
}
.visa,
.master {
  display: flex;
  padding: 5px 10px;
  background-color: #f0f5fb;
  border-radius: 5px;
  margin-bottom: 10px;
}
img {
  width: 30px;
}

.cName,
.cPass {
  position: relative;
}
.tickmark {
  position: absolute;
  top: 5px;
  right: 10px;
}

.basic-details img {
  width: 15px;
}

input,
select {
  padding: 5px;
  width: 100%;
  border: none;
  background-color: #f0f5fb;
  border-radius: 8px;
}

.basic-details input,
.secondary-details input {
  margin-bottom: 15px;
}

.secondary-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.expiry,
.country,
.cvv {
  margin: 5px;
}

.last-section {
  display: flex;
  flex-direction: column;
}

.purchase,
.terms {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.checkmark {
  width: 20px;
  margin: 0;
}
a {
  color: #f0f5fb;
}

.add-card {
  padding: 8px;
  border-radius: 8px;
  color: #05223c;
  font-weight: bold;
}
